<a href="https://colab.research.google.com/github/Madirekilani/Bash-repo-project/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
missing_values_per_feature = df.isnull().sum()

print("Missing values per feature:")
print(missing_values_per_feature)

Missing values per feature:
Country                           462
Region                           1127
Population                       1127
Under15                          1132
Over60                           1301
FertilityRate                    1301
LifeExpectancy                   1301
ChildMortality                   1301
CellularSubscribers              1301
LiteracyRate                     1301
GNI                              1301
PrimarySchoolEnrollmentMale      1301
PrimarySchoolEnrollmentFemale    1301
dtype: int64

In [ ]:
print (df)

                                                Country  Region  Population  \
0     Afghanistan,Eastern Mediterranean,29825,47.42,...     NaN         NaN
1                                                   5.4     NaN         NaN
2                                                   NaN    60.0        98.5
3                                                  1140     NaN         NaN
4                  ,,\nAlbania,Europe,3162,21.33,14.93,     NaN         NaN
...                                                 ...     ...         ...
1296                \nZimbabwe,Africa,13724,40.24,5.68,     NaN         NaN
1297                                               3.64     NaN         NaN
1298                                                NaN    54.0        89.8
1299                                               92.2     NaN         NaN
1300                                              ,,,\n     NaN         NaN

      Under15  Over60  FertilityRate  LifeExpectancy  ChildMortality  \
0         NaN     NaN            NaN             NaN             NaN
1         NaN     NaN            NaN             NaN             NaN
2       54.26     NaN            NaN             NaN             NaN
3         NaN     NaN            NaN             NaN             NaN
4         NaN     NaN            NaN             NaN             NaN
...       ...     ...            ...             ...             ...
1296      NaN     NaN            NaN             NaN             NaN
1297      NaN     NaN            NaN             NaN             NaN
1298    72.13     NaN            NaN             NaN             NaN
1299      NaN     NaN            NaN             NaN             NaN
1300      NaN     NaN            NaN             NaN             NaN

      CellularSubscribers  LiteracyRate  GNI  PrimarySchoolEnrollmentMale  \
0                     NaN           NaN  NaN                          NaN
1                     NaN           NaN  NaN                          NaN
2                     NaN           NaN  NaN                          NaN
3                     NaN           NaN  NaN                          NaN
4                     NaN           NaN  NaN                          NaN
...                   ...           ...  ...                          ...
1296                  NaN           NaN  NaN                          NaN
1297                  NaN           NaN  NaN                          NaN
1298                  NaN           NaN  NaN                          NaN
1299                  NaN           NaN  NaN                          NaN
1300                  NaN           NaN  NaN                          NaN

      PrimarySchoolEnrollmentFemale
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
1296                            NaN
1297                            NaN
1298                            NaN
1299                            NaN
1300                            NaN

[837 rows x 13 columns]

In [ ]:
mean_imputed_df = df.fillna(df.mean())

<ipython-input-8-8a2c6fc0e202>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_imputed_df = df.fillna(df.mean())

In [ ]:
median_imputed_df = df.fillna(df.median())

<ipython-input-9-adc82a2973af>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  median_imputed_df = df.fillna(df.median())

In [ ]:
median_imputed_df = df.fillna(df.median(numeric_only=True))

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df = pd.DataFrame(data)

NameError: name 'data' is not defined

In [ ]:
duplicate_rows = df.duplicated()
print(df[duplicate_rows])

Empty DataFrame
Columns: [Country, Region, Population, Under15, Over60, FertilityRate, LifeExpectancy, ChildMortality, CellularSubscribers, LiteracyRate, GNI, PrimarySchoolEnrollmentMale, PrimarySchoolEnrollmentFemale]
Index: []

In [ ]:
df.drop_duplicates(inplace=True)
print (df)

                                                Country  Region  Population  \
0     Afghanistan,Eastern Mediterranean,29825,47.42,...     NaN         NaN
1                                                   5.4     NaN         NaN
2                                                   NaN    60.0        98.5
3                                                  1140     NaN         NaN
4                  ,,\nAlbania,Europe,3162,21.33,14.93,     NaN         NaN
...                                                 ...     ...         ...
1296                \nZimbabwe,Africa,13724,40.24,5.68,     NaN         NaN
1297                                               3.64     NaN         NaN
1298                                                NaN    54.0        89.8
1299                                               92.2     NaN         NaN
1300                                              ,,,\n     NaN         NaN

      Under15  Over60  FertilityRate  LifeExpectancy  ChildMortality  \
0         NaN     NaN            NaN             NaN             NaN
1         NaN     NaN            NaN             NaN             NaN
2       54.26     NaN            NaN             NaN             NaN
3         NaN     NaN            NaN             NaN             NaN
4         NaN     NaN            NaN             NaN             NaN
...       ...     ...            ...             ...             ...
1296      NaN     NaN            NaN             NaN             NaN
1297      NaN     NaN            NaN             NaN             NaN
1298    72.13     NaN            NaN             NaN             NaN
1299      NaN     NaN            NaN             NaN             NaN
1300      NaN     NaN            NaN             NaN             NaN

      CellularSubscribers  LiteracyRate  GNI  PrimarySchoolEnrollmentMale  \
0                     NaN           NaN  NaN                          NaN
1                     NaN           NaN  NaN                          NaN
2                     NaN           NaN  NaN                          NaN
3                     NaN           NaN  NaN                          NaN
4                     NaN           NaN  NaN                          NaN
...                   ...           ...  ...                          ...
1296                  NaN           NaN  NaN                          NaN
1297                  NaN           NaN  NaN                          NaN
1298                  NaN           NaN  NaN                          NaN
1299                  NaN           NaN  NaN                          NaN
1300                  NaN           NaN  NaN                          NaN

      PrimarySchoolEnrollmentFemale
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
1296                            NaN
1297                            NaN
1298                            NaN
1299                            NaN
1300                            NaN

[837 rows x 13 columns]

In [ ]:
df_cleaned_rows = df.dropna(axis=0)

In [ ]:
print(df)

                                                Country  Region  Population  \
0     Afghanistan,Eastern Mediterranean,29825,47.42,...     NaN         NaN
1                                                   5.4     NaN         NaN
2                                                   NaN    60.0        98.5
3                                                  1140     NaN         NaN
4                  ,,\nAlbania,Europe,3162,21.33,14.93,     NaN         NaN
...                                                 ...     ...         ...
1296                \nZimbabwe,Africa,13724,40.24,5.68,     NaN         NaN
1297                                               3.64     NaN         NaN
1298                                                NaN    54.0        89.8
1299                                               92.2     NaN         NaN
1300                                              ,,,\n     NaN         NaN

      Under15  Over60  FertilityRate  LifeExpectancy  ChildMortality  \
0         NaN     NaN            NaN             NaN             NaN
1         NaN     NaN            NaN             NaN             NaN
2       54.26     NaN            NaN             NaN             NaN
3         NaN     NaN            NaN             NaN             NaN
4         NaN     NaN            NaN             NaN             NaN
...       ...     ...            ...             ...             ...
1296      NaN     NaN            NaN             NaN             NaN
1297      NaN     NaN            NaN             NaN             NaN
1298    72.13     NaN            NaN             NaN             NaN
1299      NaN     NaN            NaN             NaN             NaN
1300      NaN     NaN            NaN             NaN             NaN

      CellularSubscribers  LiteracyRate  GNI  PrimarySchoolEnrollmentMale  \
0                     NaN           NaN  NaN                          NaN
1                     NaN           NaN  NaN                          NaN
2                     NaN           NaN  NaN                          NaN
3                     NaN           NaN  NaN                          NaN
4                     NaN           NaN  NaN                          NaN
...                   ...           ...  ...                          ...
1296                  NaN           NaN  NaN                          NaN
1297                  NaN           NaN  NaN                          NaN
1298                  NaN           NaN  NaN                          NaN
1299                  NaN           NaN  NaN                          NaN
1300                  NaN           NaN  NaN                          NaN

      PrimarySchoolEnrollmentFemale
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
1296                            NaN
1297                            NaN
1298                            NaN
1299                            NaN
1300                            NaN

[837 rows x 13 columns]

In [ ]:
df_cleaned_cols = df.dropna(axis=1)

I first determined the nature of the dataset, which i found that is completely missing at random. I used a simple imputations methods like mean and median. The data had duplicate rows and i removed them entirely from the dataset.  I chose a method that strikes a balance between prese
ving data integrity, addressing missing values or duplicates effectively, and being computationally efficient. This ensures that the resulting dataset is suitable for further analysis while minimizing potential biases or distortions introduced by the handling method

In [ ]:
missing_values = df.isnull().sum()

print("Missing values per column:")
print(missing_values)

Missing values per column:
Country                          175
Region                           663
Population                       663
Under15                          668
Over60                           837
FertilityRate                    837
LifeExpectancy                   837
ChildMortality                   837
CellularSubscribers              837
LiteracyRate                     837
GNI                              837
PrimarySchoolEnrollmentMale      837
PrimarySchoolEnrollmentFemale    837
dtype: int64

In [ ]:
total_missing = df.isnull().sum().sum()
print("Total missing values:", total_missing)

Total missing values: 9702

In [ ]:
df.dropna(inplace=True)

In [ ]:
duplicate_rows = df[df.duplicated()]

In [ ]:
df.drop_duplicates(inplace=True)

Empty DataFrame
Columns: [Country, Region, Population, Under15, Over60, FertilityRate, LifeExpectancy, ChildMortality, CellularSubscribers, LiteracyRate, GNI, PrimarySchoolEnrollmentMale, PrimarySchoolEnrollmentFemale]
Index: []

In [ ]:
duplicate_rows = df[df.duplicated(subset=['column1', 'column2'])]

In [ ]:
print("Duplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
Empty DataFrame
Columns: [Country, Region, Population, Under15, Over60, FertilityRate, LifeExpectancy, ChildMortality, CellularSubscribers, LiteracyRate, GNI, PrimarySchoolEnrollmentMale, PrimarySchoolEnrollmentFemale]
Index: []

In [ ]:
for column in df.columns:
    print(column, df[column].unique())

Country []
Region []
Population []
Under15 []
Over60 []
FertilityRate []
LifeExpectancy []
ChildMortality []
CellularSubscribers []
LiteracyRate []
GNI []
PrimarySchoolEnrollmentMale []
PrimarySchoolEnrollmentFemale []

In [ ]:
cleaned_df = original_df.dropna(axis=0)

NameError: name 'original_df' is not defined

In [ ]:
cleaned_df = original_df.dropna(axis=1)

NameError: name 'original_df' is not defined

In [ ]:
original_df = pd.read_csv("data.csv")

In [ ]:
cleaned_df = original_df.dropna(axis=1)

In [ ]:
print(df)

Empty DataFrame
Columns: [Country, Region, Population, Under15, Over60, FertilityRate, LifeExpectancy, ChildMortality, CellularSubscribers, LiteracyRate, GNI, PrimarySchoolEnrollmentMale, PrimarySchoolEnrollmentFemale]
Index: []

In [ ]:
data_types = original_df.dtypes
print(data_types)

Country                           object
Region                           float64
Population                       float64
Under15                          float64
Over60                           float64
FertilityRate                    float64
LifeExpectancy                   float64
ChildMortality                   float64
CellularSubscribers              float64
LiteracyRate                     float64
GNI                              float64
PrimarySchoolEnrollmentMale      float64
PrimarySchoolEnrollmentFemale    float64
dtype: object

In [ ]:
observed_data_types = df.dtypes
expected_data_types = {
    'column1': 'expected_type1',
    'column2': 'expected_type2',
    'column3': 'expected_type3',
    'column4': 'expected_type4',
    'column5': 'expected_type5',
    'column6': 'expected_type6',
    'column7': 'expected_type7',
    'column8': 'expected_type8',
    'column9': 'expected_type9',
    'column10': 'expected_type10',
    'column11': 'expected_type11',
    'column12': 'expected_type12',
}
mismatched_columns = []
for column, observed_type in observed_data_types.items():
    expected_type = expected_data_types.get(column)
    if expected_type and observed_type != expected_type:
        mismatched_columns.append((column, observed_type, expected_type))
if mismatched_columns:
    print("Mismatched columns:")
    for column, observed_type, expected_type in mismatched_columns:
        print(f"Column: {column}, Observed type: {observed_type}, Expected type: {expected_type}")
else:
    print("No mismatched columns found.")

No mismatched columns found.

In [ ]:
missing_values = df.isnull().sum()
if missing_values.sum() == 0:
    print("No missing values remaining.")
else:
    print("Missing values still exist in the dataset.")
    print("Number of missing values per column:")
    print(missing_values)

No missing values remaining.

In [ ]:
health_and_demographics_df = df.copy()

In [ ]:
print(health_and_demographics_df.columns)

Index(['Country', 'Region', 'Population', 'Under15', 'Over60', 'FertilityRate',
       'LifeExpectancy', 'ChildMortality', 'CellularSubscribers',
       'LiteracyRate', 'GNI', 'PrimarySchoolEnrollmentMale',
       'PrimarySchoolEnrollmentFemale'],
      dtype='object')

In [ ]:
country_with_lowest_population_percentage_under_15 = health_and_demographics_df['Population'].idxmin()
print("Country with the lowest population percentage under 15:", country_with_lowest_population_percentage_under_15)

ValueError: attempt to get argmin of an empty sequence